<!--Nav bar-->
<div class="toolbar" role="banner">
  <a style="font-size: 30px;" routerLink="/admin">Sala Deportiva</a>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/gestionClientes" routerLinkActive="active">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/gestionInstructores" routerLinkActive="active">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/pagos/:_id" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/config" routerLinkActive="active">Configuración</a>
</div>

<!--bienvenida-->
<div class="contentCenter">
  <h1>Bienvenido, <label style="color: #4FB8A5;">administrador.</label></h1>
  <!--informacion-->
  <h2>Aforo actual: {{ infoSala.aforo }} %</h2>
</div>
<!--matriz servicios-->
<div class="contentLeft">
  <h2>Le ofrecemos los siguientes servicios:</h2>
</div>
<div class="contentGrid" style="align-content: center;">
  <ng-container *ngFor="let servicio of listaServicios">
    <div>
      <div class="gridItem"><h2>{{ servicio.nombre }}</h2></div>
    </div>
  </ng-container>
</div>
<!--costo matricula-->
<div class="contentCenter">
  <h2>El costo de matricula es de: ₡00.00</h2>
</div>
