<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Configuración</a>
</div>


<div class="contentCenter">
  <!--carta registro cliente-->
  <div class="contentCenter" style="width: 40%;">
    <div class="cardHead">
      <label class="toolbarElement">Registrar cliente</label>
    </div>
    <div class="flexCardBody">
      <div class="cardContentCenter">
        <div style="margin: 5px;">
          <label class="cardText">Nombre: </label>
          <input #nombre class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Correo: </label>
          <input #correo class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Teléfono: </label>
          <input #telefono class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Contraseña: </label>
          <input #contrasena class="cardText">
        </div>
        <button class="cardButton" style="width: 50%;" (click)="registrarCliente(nombre.value,correo.value, telefono.value, contrasena.value)">Agregar cliente</button>
      </div>
      <!-- , id.value, correo.value, telefono.value, contraseña.value) -->
    </div>
  </div>

  <!--combobox estado-->
  <!-- <div>
    <label class="cardText" for="clientState">Estado:</label>
    <select class="toolbarElement" style="margin: 5px;" name="clientState" id="clientState">
      <option value="activo">Activo</option>
      <option value="moroso">Moroso</option>
    </select>
  </div> -->
  
  <!--carta cliente-->
  <div class="cardHead">
    <label class="toolbarElement">Clientes</label>
  </div>
  <div class="clientCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Teléfono</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Correo</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Morosidad</label>
    </div>
    <div class="cardItem">
    </div>
    <!--contenido cliente-->
    <ng-container *ngFor="let cliente of listaClientes">
      <div class="cardItem">
        <label class="cardText">{{ cliente.nombre }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ cliente.numero }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ cliente.correo }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ cliente.morosidad }}</label>
      </div>
      <div class="cardItem">
        <button class="cardButton">Más información</button>
      </div>
    </ng-container>
    
  </div>
</div>

<hr>


<div class="contentCenter" style="width: 60%;">
  <h1>Consulta de clientes</h1>
  <!--carta cliente x servicio-->
  <div class="cardHead">
    <label class="toolbarElement">Clientes por servicio</label>
  </div>
  <div class="clientServiceCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Identificación</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Servicio</label>
    </div>
    <!--contenido cliente x servicio-->
    <div class="cardItem">
      <label class="cardText">Juan</label>
    </div>
    <div class="cardItem">
      <label class="cardText">123456789</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
  </div>
</div>

<!--carta cliente x leccion-->
<div class="contentCenter">
  <div class="cardHead">
    <label class="toolbarElement">Clientes por lección</label>
  </div>
  <div class="clientLessonCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Identificación</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Instructor</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <!--contenido cliente x leccion-->
    <ng-container *ngFor="let clienteLeccion of clientesLeccionEscogida">
      <div class="cardItem">
        <label class="cardText">{{ clienteLeccion.nombre }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ clienteLeccion.numero }}</label>
      </div>
      <div class="cardItem">
        <!-- <label class="cardText">{{ leccionEscogida.clase }}</label> -->
      </div>
      <div class="cardItem">
        <!-- <label class="cardText">{{ leccionEscogida.instructor }}</label> -->
      </div>
      <div class="cardItem">
        <!-- <label class="cardText">{{ leccionEscogida.fechaHora }}</label> -->
      </div>
      <div class="cardItem">
        <!-- <label class="cardText">{{ leccionEscogida.clase }}</label> -->
      </div>
    </ng-container> 
  </div>
</div>