<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Reservaciones</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement">Perfil</a>
</div>

<!--carta enfermedades-->
<div class="contentCenter" style="width: 60%;">
  <div class="cardHead">
    <label class="toolbarElement">Enfermedades</label>
  </div>
  <div class="profileCardBody">
    <div class="cardItem">
      <label class="cardText">Enfermedad</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Detalle</label>
    </div>
    <div class="cardItem"></div>
    <!--contenido enfermedades-->
    <div class="cardItem">
      <label class="cardText">Asma</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Se necesita llevarme al hospital</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Eliminar</button>
    </div>
  </div>
</div>

<!--carta agregar enfermedades-->
<div class="contentCenter" style="width: 40%;">
  <div class="cardHead">
    <label class="toolbarElement">Agregar enfermedades</label>
  </div>
  <div class="flexCardBody">
    <div class="cardContentCenter">
      <div style="margin: 5px;">
        <label class="cardText">Enfermedad: </label>
        <input #diseaseName class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Detalle: </label>
        <textarea #diseaseDetail style="resize: none;" cols="20" rows="2" class="cardText"></textarea>
      </div>
      <button class="cardButton" style="width: 50%;">Agregar enfermedad</button>
    </div>
  </div>
</div>

<!--carta medicamentos-->
<div class="contentCenter" style="width: 60%;">
  <div class="cardHead">
    <label class="toolbarElement">Medicamentos</label>
  </div>
  <div class="profileCardBody">
    <div class="cardItem">
      <label class="cardText">Medicamento</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Detalle</label>
    </div>
    <div class="cardItem"></div>
    <!--contenido medicamentos-->
    <div class="cardItem">
      <label class="cardText">Talerdin D</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Antialergico, 1 pastilla</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Eliminar</button>
    </div>
  </div>
</div>

<!--carta agregar medicamentos-->
<div class="contentCenter" style="width: 40%;">
  <div class="cardHead">
    <label class="toolbarElement">Agregar medicamentos</label>
  </div>
  <div class="flexCardBody">
    <div class="cardContentCenter">
      <div style="margin: 5px;">
        <label class="cardText">Medicamento: </label>
        <input #drugName class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Detalle: </label>
        <textarea #drugDetail style="resize: none;" cols="20" rows="2" class="cardText"></textarea>
      </div>
      <button class="cardButton" style="width: 50%;">Agregar medicamento</button>
    </div>
  </div>
</div>

<!--carta contactos-->
<div class="contentCenter" style="width: 60%;">
  <div class="cardHead">
    <label class="toolbarElement">Contactos de emergencia</label>
  </div>
  <div class="profileCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Número telefónico</label>
    </div>
    <div class="cardItem"></div>
    <!--contenido contactos-->
    <div class="cardItem">
      <label class="cardText">Maria Soto</label>
    </div>
    <div class="cardItem">
      <label class="cardText">87654321</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Eliminar</button>
    </div>
  </div>
</div>

<!--carta agregar contactos-->
<div class="contentCenter" style="width: 40%;">
  <div class="cardHead">
    <label class="toolbarElement">Agregar contactos</label>
  </div>
  <div class="flexCardBody">
    <div class="cardContentCenter">
      <div style="margin: 5px;">
        <label class="cardText">Nombre: </label>
        <input #contactName class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Número: </label>
        <input #contactDetail class="cardText">
      </div>
      <button class="cardButton" style="width: 50%;">Agregar medicamento</button>
    </div>
  </div>
</div>