

<!-- <app-login></app-login> -->

<!-- <app-calendario-administrador></app-calendario-administrador> -->

<!-- <app-gestion-clientes-administrador></app-gestion-clientes-administrador> -->

<!-- <app-configuracion-administrador></app-configuracion-administrador> -->

<!-- <app-modificar-instructor-administrador></app-modificar-instructor-administrador> -->

<!-- <app-modificar-leccion-administrador></app-modificar-leccion-administrador> -->

<!-- <app-pagos-administrador></app-pagos-administrador> -->

<!-- <app-info-clientes-administrador></app-info-clientes-administrador> -->

<!-- <app-home-administrador></app-home-administrador> -->

<!-- <app-home-cliente></app-home-cliente> -->

<!-- <app-pagos-cliente></app-pagos-cliente> -->

<!-- <app-perfil-cliente></app-perfil-cliente> -->

<!-- <app-calendario-cliente></app-calendario-cliente> -->

<!-- <app-reservas></app-reservas> -->

<!-- <app-home-instructor></app-home-instructor> -->

<app-lecciones-instructor></app-lecciones-instructor>



<router-outlet></router-outlet>
