<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Configuración</a>
</div>

<div class="contentLeft">
  <button class="cardButtonCancel" style="width: 10%; margin: 20px;">Regresar</button>
</div>

<!--carta modificar leccion-->
<div class="contentCenter" style="width: 40%;">
  <div class="cardHead">
    <label class="toolbarElement">Modificar lección</label>
  </div>
  <div class="flexCardBody">
    <div class="cardContentCenter">
      <div style="margin: 5px;">
        <label class="cardText">Clase: Yoga</label>
      </div>
      <!--instructor-->
      <div style="margin: 5px;">
        <label class="cardText">Instructor: </label>
        <select class="cardText">
          <option>Juan: normal</option>
          <option>Marco: temporal</option>
        </select>
      </div>
      <!--dia-->
      <div style="margin: 5px;">
        <label class="cardText">Día: </label>
        <select class="cardText">
          <option>Lunes</option>
          <option>Martes</option>
          <option>Miércoles</option>
          <option>Jueves</option>
          <option>Viernes</option>
          <option>Sábado</option>
          <option>Domingo</option>
        </select>
      </div>
      <!--hora-->
      <div style="margin: 5px;">
        <label class="cardText">Hora de inicio: </label>
        <select class="cardText">
          <option>8:00</option>
          <option>9:00</option>
        </select>
      </div>
      <!--duracion-->
      <div style="margin: 5px;">
        <label class="cardText">Duración: </label>
        <select class="cardText">
          <option>30 minutos</option>
          <option>1 hora</option>
          <option>1:30 horas</option>
          <option>2 horas</option>
        </select>
      </div>
      
      <button class="cardButton" style="width: 50%;">Guardar cambios</button>
    </div>
  </div>
</div>
