<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Configuración</a>
</div>


<div class="contentCenter">
  <!--carta pagos pendientes-->
  <div class="cardHead">
    <label class="toolbarElement">Pagos pendientes</label>
  </div>
  <div class="pendingCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Telefono</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Monto</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Detalle</label>
    </div>
    <div class="cardItem">
    </div>
    <!--contenido pagos pendientes-->
    <ng-container *ngFor="let pagoPendiente of listaPagosPendientes">
      <div class="cardItem">
        <label class="cardText">{{ pagoPendiente.cliente }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">123456789</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ pagoPendiente.monto }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">Yoga, martes, 11:00</label>
      </div>
      <div class="cardItem">
        <div>
          <label class="cardText">Método:</label>
          <select>
            <option value="sinpe">Sinpe</option>
            <option value="efectivo">Efectivo</option>
          </select>
        </div>
        <button class="cardButton">Registrar pago</button>
      </div>
    </ng-container>
  </div>
</div>

<div class="contentCenter">
  <!--carta pagos realizados-->
  
  <div class="cardHead">
    <label class="toolbarElement">Pagos realizados</label>
  </div>
  <div class="doneCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Identificación</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Monto</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Detalle</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Fecha</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Método</label>
    </div>
    <!--contenido pagos realizados-->
    <ng-container *ngFor="let pagosRealizados of listaPagosRealizados">
      <div class="cardItem">
        <label class="cardText">{{ pagosRealizados.cliente }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">123456789</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ pagosRealizados.monto }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">Yoga, martes, 11:00</label>
      </div>
      <div class="cardItem">
        <label class="cardText">22/05/2021</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ pagosRealizados.metodo }}</label>
      </div>
    </ng-container>
  </div>
</div>