<!--Nav bar-->
<div class="toolbar" role="banner">
  <a style="font-size: 30px;" routerLink="/cliente">Sala Deportiva</a>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/cliente/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/reservas" routerLinkActive="active">Reservaciones</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/pagos" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/perfil" routerLinkActive="active">Perfil</a>
</div>

<!--carta calendario-->
<div class="contentCenter">
  <div class="cardHead">
    <label class="toolbarElement">Calendario Mes, año</label>
  </div>
  <div class="calendarBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Instructor</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
      <label class="cardText">¿Reservar?</label>
    </div>
    <!--contenido calendario-->
    <ng-container *ngFor="let leccion of listaLecciones">
      <div class="cardItem">
        <label class="cardText">{{ leccion.clase }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ leccion.instructor.nombre }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ leccion.dia }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ leccion.hora }}</label>
      </div>
      <div class="cardItem">
        <button class="cardButton">Reservar</button>
      </div>
    </ng-container>
    
    <!--ejemplo reservado-->
    
    <!-- <div class="cardItem">
      <button disabled="true" class="cardButtonDisabled">Reservado</button>
    </div> -->
    <!--ejemplo cupo lleno-->
    
    <!-- <div class="cardItem">
      <button disabled="true" class="cardButtonDisabled">Cupo lleno</button>
    </div> -->
  </div>
</div>

