<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/gestionClientes" routerLinkActive="active">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/admin/gestionInstructores" routerLinkActive="active">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/pagos/:_id" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/config" routerLinkActive="active">Configuración</a>
</div>


<div class="contentCenter">
  <!--carta registro instructor-->
  <div class="contentCenter" style="width: 40%;">
    <div class="cardHead">
      <label class="toolbarElement">Registrar instructor</label>
    </div>
    <div class="flexCardBody">
      <div class="cardContentCenter">
        <div style="margin: 5px;">
          <label class="cardText">Nombre: </label>
          <input #name class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Identificación: </label>
          <input #id class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Correo: </label>
          <input #email class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Teléfono: </label>
          <input #phone class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Contraseña: </label>
          <input #password class="cardText">
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Tipo: </label>
          <select #type class="cardText">
            <option value="normal">Normal</option>
            <option value="temporal">Temporal</option>
          </select>
        </div>
        <div style="margin: 5px;">
          <label class="cardText">Especialidades: </label>
          <form #type class="cardText">
            <ng-container *ngFor="let servicio of listaServicios">
              <div>
                <label class="cardText">{{ servicio.nombre }}</label>
                <input type="checkbox" value="yoga">
              </div>
            </ng-container>
          </form>
        </div>
        <button class="cardButton" style="width: 50%;">Agregar instructor</button>
      </div>
    </div>
  </div>
  <!--combobox estado-->
  <div>
    <label class="cardText" for="clientState">Estado:</label>
    <select class="toolbarElement" style="margin: 5px;" name="clientState" id="clientState">
      <option value="activo">Normal</option>
      <option value="moroso">Temporal</option>
    </select>
  </div>
  <!--carta instructores-->
  <div class="cardHead">
    <label class="toolbarElement">Instructores</label>
  </div>
  <div class="instructorCardBody">
    <div class="cardItem">
      <label class="cardText">Nombre</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Identificación</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Correo</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Teléfono</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Tipo</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Especialidades</label>
    </div>
    <div class="cardItem">
    </div>
    <!--contenido instructores-->
    <ng-container *ngFor="let instructor of listaInstructores">
      <div class="cardItem">
        <label class="cardText">{{ instructor.nombre }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ instructor.tipo }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ instructor.correo }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ instructor.numero }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ instructor.tipo }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">Yoga, Pilates</label>
      </div>
      <div class="cardItem">
        <button class="cardButton">Modificar</button> 
        <button class="cardButtonCancel">Eliminar</button>
      </div>
    </ng-container>
  </div>
</div>
