<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/instructor/lecciones" routerLinkActive="active">Lecciones</a>
</div>



<div class="contentCenter">
  <!--carta lecciones mes actual-->
  <div class="cardHead">
    <label class="toolbarElement">Lecciones mes, año</label>
  </div>
  <div class="lessonCardBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Reservaciones</label>
    </div>
    <!--contenido lecciones-->
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <label class="cardText">n/n</label>
    </div>
  </div>
</div>

<div class="contentCenter">
  <!--carta lecciones siguiente mes-->
  <div class="cardHead">
    <label class="toolbarElement">Lecciones próximo mes</label>
  </div>
  <div class="lessonCardBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
    </div>
    <!--contenido lecciones-->
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Eliminar</button>
    </div>
  </div>

  <!--carta agregar leccion-->
  <div class="contentCenter" style="width: 40%;">
    <div class="cardHead">
      <label class="toolbarElement">Agregar lección</label>
    </div>
    <div class="flexCardBody">
      <div class="cardContentCenter">
        <!--clase-->
        <div style="margin: 5px;">
          <label class="cardText">Clase: </label>
          <select class="cardText">
            <option>Yoga</option>
            <option>Pilates</option>
          </select>
        </div>
        <!--dia-->
        <div style="margin: 5px;">
          <label class="cardText">Día: </label>
          <select class="cardText">
            <option>Lunes</option>
            <option>Martes</option>
            <option>Miércoles</option>
            <option>Jueves</option>
            <option>Viernes</option>
            <option>Sábado</option>
            <option>Domingo</option>
          </select>
        </div>
        <!--hora-->
        <div style="margin: 5px;">
          <label class="cardText">Hora de inicio: </label>
          <select class="cardText">
            <option>8:00</option>
            <option>9:00</option>
          </select>
        </div>
        <!--duracion-->
        <div style="margin: 5px;">
          <label class="cardText">Duración: </label>
          <select class="cardText">
            <option>30 minutos</option>
            <option>1 hora</option>
            <option>1:30 horas</option>
            <option>2 horas</option>
          </select>
        </div>
        <button class="cardButton" style="width: 50%;">Agregar</button>
      </div>
    </div>
  </div>
</div>