<!--Nav bar-->
<div class="toolbar" role="banner">
  <a style="font-size: 30px;" routerLink="/instructor">Sala Deportiva</a>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/instructor/lecciones" routerLinkActive="active">Lecciones</a>
</div>



<div class="contentCenter">
  <!--carta lecciones mes actual-->
  <div class="cardHead">
    <label class="toolbarElement">Lecciones mes, año</label>
  </div>
  <div class="lessonCardBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Reservaciones</label>
    </div>
    <!--contenido lecciones-->
    <ng-container *ngFor="let leccion of listaLecciones">
      <div class="cardItem">
        <label class="cardText">{{ leccion.clase }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ leccion.dia }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ leccion.duracion }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">n/n</label>
      </div>
    </ng-container>
  </div>
</div>

<div class="contentCenter">
  <!--carta lecciones siguiente mes-->
  <!-- <div class="cardHead">
    <label class="toolbarElement">Lecciones próximo mes</label>
  </div>
  <div class="lessonCardBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
    </div> -->
    <!--contenido lecciones-->
    <!-- <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Eliminar</button>
    </div>
  </div> -->

  <!--carta agregar leccion-->
  <div class="contentCenter" style="width: 40%;">
    <div class="cardHead">
      <label class="toolbarElement">Agregar lección</label>
    </div>
    <div class="flexCardBody">
      <div class="cardContentCenter">
        <!--clase-->
        <div style="margin: 5px;">
          <label class="cardText">Clase: </label>
          <select #clase class="cardText">
            <ng-container *ngFor="let servicio of listaServicios">
                <option>{{ servicio.nombre }}</option>
            </ng-container>
          </select>
        </div>
        <!--dia-->
        <div style="margin: 5px;">
          <label class="cardText">Día: </label>
          <select #dia class="cardText">
            <option>Lunes</option>
            <option>Martes</option>
            <option>Miércoles</option>
            <option>Jueves</option>
            <option>Viernes</option>
            <option>Sábado</option>
            <option>Domingo</option>
          </select>
        </div>
        <!--hora-->
        <div style="margin: 5px;">
          <label class="cardText">Hora de inicio: </label>
          <select #hora class="cardText">
            <option>8:00</option>
            <option>9:00</option>
            <option>10:00</option>
            <option>11:00</option>
            <option>12:00</option>
          </select>
        </div>
        <!--duracion-->
        <div style="margin: 5px;">
          <label class="cardText">Duración: </label>
          <select #duracion class="cardText">
            <option>30</option>
            <option>45</option>
            <option>60</option>
            <option>80</option>
          </select>
          <label class="cardText">Minutos </label>
        </div>
        <button class="cardButton" style="width: 50%;"  (click)="registrarLeccion(clase.value, dia.value, hora.value, duracion.value)">Agregar</button>
      </div>
    </div>
  </div>
</div>