<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement">Reservaciones</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement">Perfil</a>
</div>

<!--carta reservas-->
<div class="contentCenter">
  <div class="cardHead">
    <label class="toolbarElement">Reservaciones Mes, año</label>
  </div>
  <div class="reserveBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Instructor</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Fecha Reserva</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Estado</label>
    </div>
    <div class="cardItem"><!--espacio--></div>
    <!--contenido reservas-->
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Juan</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <label class="cardText">18/06/2021</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Pago</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Cancelar</button>
    </div>
    <!--ejemplo moroso-->
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Juan</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <label class="cardText">18/06/2021</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Moroso</label>
    </div>
    <div class="cardItem"><!--espacio--></div>
    <!--ejemplo pendiente-->
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Juan</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <label class="cardText">18/06/2021</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Pendiente</label>
    </div>
    <div class="cardItem">
      <button class="cardButtonCancel">Cancelar</button>
    </div>
  </div>
</div>
