<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/reservas" routerLinkActive="active">Reservaciones</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/cliente/pagos" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/perfil" routerLinkActive="active">Perfil</a>
</div>


<div class="contentCenter" style="width: 60%;">
  <!--carta pagos pendientes-->
  <div class="cardHead">
    <label class="toolbarElement">Pagos pendientes</label>
  </div>
  <div class="pendingCardBody">
    <div class="cardItem">
      <label class="cardText">Monto</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Detalle</label>
    </div>
    <!--contenido pagos pendientes-->
    <ng-container *ngFor="let pagoPendiente of listaPagosPendientes">
      <div class="cardItem">
        <label class="cardText">{{ pagoPendiente.monto }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ pagoPendiente.cliente }}</label>
      </div>
    </ng-container>
  </div>
</div>

<div class="contentCenter" style="width: 60%;">
  <!--carta pagos realizados-->
  <div class="cardHead">
    <label class="toolbarElement">Pagos realizados</label>
  </div>
  <div class="doneCardBody">
    <div class="cardItem">
      <label class="cardText">Monto</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Detalle</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Fecha</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Método</label>
    </div>
    <!--contenido pagos realizados-->
    <ng-container *ngFor="let pagosRealizados of listaPagosRealizados">
      <div class="cardItem">
        <label class="cardText">{{ pagosRealizados.monto }}</label>
      </div>
      <div class="cardItem">
        <label class="cardText">Yoga, martes, 11:00</label>
      </div>
      <div class="cardItem">
        <label class="cardText">22/05/2021</label>
      </div>
      <div class="cardItem">
        <label class="cardText">{{ pagosRealizados.metodo }}</label>
      </div>
    </ng-container>
  </div>
</div>
