<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/gestionClientes" routerLinkActive="active">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/gestionInstructores" routerLinkActive="active">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/admin/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/pagos/:_id" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/config" routerLinkActive="active">Configuración</a>
</div>

<!--carta calendario-->
<div class="contentCenter">
  <div class="cardHead">
    <label class="toolbarElement">Calendario Mes, año</label>
  </div>
  <div class="calendarBody">
    <div class="cardItem">
      <label class="cardText">Clase</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Instructor</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Día</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Hora</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Reservas</label>
    </div>
    <div class="cardItem">
    </div>
    <!--contenido calendario-->
    
    <div class="cardItem">
      <label class="cardText">Yoga</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Juan</label>
    </div>
    <div class="cardItem">
      <label class="cardText">Martes</label>
    </div>
    <div class="cardItem">
      <label class="cardText">10:00 - 11:00</label>
    </div>
    <div class="cardItem">
      <label class="cardText">n/n</label>
    </div>
    <div class="cardItem">
      <button class="cardButton">Modificar</button>
    </div>
  </div>
</div>

