<!--Nav bar-->
<div class="toolbar" role="banner">
  <a style="font-size: 30px;" routerLink="/cliente">Sala Deportiva</a>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/reservas" routerLinkActive="active">Reservaciones</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/pagos" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/cliente/perfil" routerLinkActive="active">Perfil</a>
</div>

<!--descripcion-->
<div class="contentCenter">
  <h1>Bienvenido, <label style="color: #4FB8A5;">usuario.</label></h1>
  <p >Da siempre lo mejor de ti. Lo que siembres hoy dará su fruto mañana</p>
</div>
<!--matriz servicios-->
<div class="contentLeft">
  <h2>Le ofrecemos los siguientes servicios:</h2>
</div>
<div class="contentGrid" style="align-content: center;">
  <ng-container *ngFor="let servicio of listaServicios">
    <div>
      <div class="gridItem"><h2>{{ servicio.nombre }}</h2></div>
    </div>
  </ng-container>
</div>
<!--costo matricula-->
<div class="contentCenter">
  <h2>El costo de matricula es de: ₡00.00</h2>
</div>
