<!--Nav bar-->
<div class="toolbar" role="banner">
  <h1>Sala Deportiva</h1>
  <div class="spacer"></div>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/gestionClientes" routerLinkActive="active">Clientes</a>
  <div class="spacerLine"></div>
  <a class="toolbarSelectedElement" routerLink="/admin/gestionInstructores" routerLinkActive="active">Instructores</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/calendario" routerLinkActive="active">Calendario</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/pagos/:_id" routerLinkActive="active">Pagos</a>
  <div class="spacerLine"></div>
  <a class="toolbarElement" routerLink="/admin/config" routerLinkActive="active">Configuración</a>
</div>

<div class="contentLeft">
  <button class="cardButtonCancel" style="width: 10%; margin: 20px;">Regresar</button>
</div>

<!--carta modificar instructor-->
<div class="contentCenter" style="width: 40%;">
  <div class="cardHead">
    <label class="toolbarElement">Modificar instructor</label>
  </div>
  <div class="flexCardBody">
    <div class="cardContentCenter">
      <div style="margin: 5px;">
        <label class="cardText">Nombre: </label>
        <input #name class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Identificación: </label>
        <input #id class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Correo: </label>
        <input #email class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Teléfono: </label>
        <input #phone class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Contraseña: </label>
        <input #password class="cardText">
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Tipo: </label>
        <select #type class="cardText">
          <option value="normal">Normal</option>
          <option value="temporal">Temporal</option>
        </select>
      </div>
      <div style="margin: 5px;">
        <label class="cardText">Especialidades: </label>
        <form #type class="cardText">
          <ng-container *ngFor="let servicio of listaServicios">
            <div>
              <label class="cardText">{{ servicio.nombre }}</label>
              <input type="checkbox" value="yoga">
            </div>
          </ng-container>
        </form>
      </div>
      <button class="cardButton" style="width: 50%;">Guardar cambios</button>
    </div>
  </div>
</div>